.env
# Системные файлы
__pycache__/
*.pyc
.DS_Store

# Виртуальное окружение
venv/
.venv/
env/

# База данных (если вдруг создалась локально)
postgres_data/

# Идеи (настройки редактора)
.idea/
.vscode/
